services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: pihole

    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8080:80/tcp"

    environment:
      # Set your local timezone  
      TZ: America/Los_Angeles
      WEBPASSWORD: Password1234 
      DNSMASQ_LISTENING: all

    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d

    restart: unless-stopped
